* {
    margin: 0;
    padding: 0;
}

section {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin: auto;
    margin-bottom: 30px;
    text-align: center;
}

.flex-container {
    display: flex;
    max-width: 900px;
    max-height: 500px;
    flex-direction: row;
    color: white;
}

.flex-container .lg-box {
    display: flex;
    justify-content: center;
    background: orangered;
    width: 50%;
    height: 315px;
    margin: 15px;
    margin-bottom: 0;
}

.lg-box p {
    margin-top: 40px;
}

.side p {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-container .side {
    width: 50%;
    margin-left: -15px;
}

.side-bottom {
    display: flex;
    /* flex-wrap: wrap; */
    margin-top: -15px;
}

.side-bottom div {
    display: flex;
    justify-content: center;
    align-content: center;
}

.flex-container .side div:first-of-type {
    background: orangered;
    width: 100%;
    height: 150px;
    margin: 15px;
}


.flex-container .side .side-bottom div:first-of-type {
    display: flex;
    background: orangered;
    width: 50%;
    height: 150px;
    margin: 15px;
}

.flex-container .side .side-bottom div:last-of-type {
    display: flex;
    background: orangered;
    width: 50%;
    height: 150px;
    margin-top: 15px;
}

.grid-container {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    max-width: 900px;
    max-height: 500px;
    height: 300px;
    margin: 15px;
}

.grid-container div {
    background: #acd7e7;
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid-container div:nth-of-type(1) {
    grid-column: 1/3;
    grid-row: 1/4;
    align-items: center;
}

.grid-container div:nth-of-type(1) p {
    margin-bottom: 150px;
}

.grid-container div:nth-of-type(2) {
    grid-column: 3/5;
    grid-row: 1/2;
}

.grid-container div:nth-of-type(3) {
    grid-row: 2/4;
}

.grid-container div:nth-of-type(4) {
    grid-row: 2/4;
}